@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true; 
  prefersdark: false; 
  color-scheme: light;
  --color-primary:#E3B577
}
body{
  font-family: "Rancho", cursive;
  font-weight: 400;
  font-style: normal;
}